.bluee{
    background-color: blue;
}
tr:nth-child(odd) td:hover{
    background-color: green;
}
tr:nth-child(odd) td:active{
    background-color: red;
}
.langit{
    background-color: lightblue;
}
tr:nth-child(even) td:hover {
    background-color: rgb(255, 255, 24);
}
tr:nth-child(even) td:active{
    background-color: black;
}
